<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ABNF</string>
	<key>uuid</key>
	<string>E00AFC9C-0554-4A8D-AEA6-326B22D1BF49</string>
</dict>
</plist>
